{% extends "base_generic.html" %}

{% block content %}
  <!-- books 是根據models的class去分的-->
  <h1>Title:{{books.title}}</h1>

  <p><strong>Author:</strong><a href=" ">{{ books.author }}</a></p>
  <p><strong>Summary:</strong>{{ books.summary }}</p>
  <p><strong>ISBN:</strong>{{ books.isbn }}</p>
  <p><strong>Language:</strong>{{ books.language }}</p>
  <p><strong>Genre:</strong>{% for genre in books.genre.all %}{{genre}}{% if not forloop.last %}, {%endif%}{% endfor %}</p>

  <div style = "margin-left:20px;margin-top:20px">
    <h4>Copies</h4>
    <!-- book.bookinstance_set是由系統自動產生的 -->
    <!-- 在model(Book)側，定義一個ForeignKey(一對多)字段關聯，沒有定義在"多"那側model(BookInstance)-->
    <!-- 故無法透過字段來取得相關紀錄，所以建立一個reverse loopup供使用-->
    <!-- 以ForeignKey被定義的那個模型名稱小寫，加上字尾的_set-->
    <!-- 因此在Book創建的funciton名為bookinstance_set()-->
    {% for copy in books.bookinstance_set.all %}
    <hr>
    <p class = "{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{copy.get_status_display}}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong>{{copy.due_back}}</p>{% endif %}
    <p><strong>Imprint:</strong>{{copy.imprint}}</p>
    <p class = "text-muted"><strong>Id:</strong>{{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}
